
useDynLib(builtenvir)

import(nlme)
import(ggplot2)
import(RcppEigen)
importFrom(Rcpp, sourceCpp)


export(lag.basis)
export(dlm)

exportClasses(LagBasis)
exportClasses(Dlm)
exportClasses(FreqDlm)
exportClasses(BayesDlm)
exportClasses(SummaryDlm)

exportMethods(omega)
exportMethods(predict)
exportMethods(coef)
exportMethods(sigma)
exportMethods(logLik)
exportMethods(AIC)
exportMethods(BIC)
exportMethods(vcov)
exportMethods(fixef)
exportMethods(ranef)
exportMethods(se.fixef)
exportMethods(se.ranef)
exportMethods(scaleMat)
exportMethods(theta)
exportMethods(vcov.theta)
exportMethods(fitted)
exportMethods(residuals)
exportMethods(plot)
exportMethods(show)
exportMethods(summary)
exportMethods(coef.sims)
