
useDynLib(builtenvir)

import(methods, nlme, ggplot2)
import(RcppEigen)
importFrom(Rcpp, sourceCpp)


export(dlm, lag.basis, cr, fitted.Dlm, residuals.Dlm, predict.Dlm,
       coef.Dlm, sigma.Dlm, logLik.Dlm, AIC.Dlm, vcov.Dlm,
       summary.FreqDlm, summary.BayesDlm, plot.Dlm
       )

exportClasses(LagBasis, Dlm, FreqDlm, BayesDlm, SummaryDlm, SmoothLag)

exportMethods("omega", "fixef", "ranef", "se.ranef", "se.fixef", "scaleMat",
              "theta", "vcovTheta", "coef.sims", "show", "["
              )



